* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
.player {
    height: 12vh;
    width: 7vw;
    img{
        height: 12vh;
        width: 7vw;
        object-fit: cover;
        user-select: none;
        -webkit-user-drag: none;
    }
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(1,1);
}
.coin {
    position: absolute;
    height: 4vh;
    width: 7vw;
    img{
        height: 10vh;
        width: 7vw;
        object-fit: cover;
        user-select: none;
        -webkit-user-drag: none;
    }
}

#screamer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

