* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow: hidden;
}
.player {
    height: 12vh;
    width: 7vw;
    img{
        height: 12vh;
        width: 7vw;
        object-fit: cover;
    }
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(1,1);
}
